@font-face {
    font-family: spacecowboy;
    src: url(spacecowboy.woff);
}

body {
    background-color: #222;
    color: white;
    margin: 0;
    padding-top: 40px;
}

h1, h2 {
    font-family: spacecowboy;
}

code {
    /*Darkmode*/
    color: #222;
}

.row {
    display: flex;
}

.column {
    width: 50%;
}

#output {
    color: black;
}

input {
    z-index: 1000;
}

.live-code-I {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 149;
}

.live-code-II {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 150;
    background: rgba(0, 0, 0, 0) !important;
    height: 80%;
    width: 35%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#converter {
    display: none;
}

.content {
    margin: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav h5:hover {
    color: #7c7c7c;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
