.container-m10 {
    margin: 10px;
    font-size: 14px;
}

h1, h2 {
    font-family: 'Nothing You Could Do', cursive;
}

body {
    margin-top: 1%;
}

.row {
    display: flex;
}

.column {
    /*flex: 50%;*/
    width: 50%;
}
