.microlib_tabs_nav {
    width: 100%;
    height: 40px;
    background: #222;
}

.microlib_tabs_nav_item {
    float: left;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid #e7e7e7;
}

.microlib_tabs_nav_item:hover,
.microlib_tabs_nav_item.microlib_active {
    background: #5a5a5a;
    cursor: pointer;
}

.microlib_tabs_tab {
    background: #222;
    padding: 15px;
    display: none;
    /*height: 100%;*/
}

.microlib_tabs_tab.microlib_active {
    display: block;
}
